@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

body{
    background-color: #2C243E;
    z-index: -1;
}

.retangulo {
    background-color: #f3f3f3;
    width: 600px;
    height: 550px;
    border-radius: 10px;
    margin: -30px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* permite posicionar filhos relativos a ele */
}

.logo {
    width: 50%;
    margin-top: 100px; 
    margin-bottom: 20px;
}


.form-login input[type="text"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 70px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #2C243E;
    font-family: 'Lalezar';
    font-size: 15px;
    padding-left: 5px;
}

.form-login input[type="password"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #2C243E;
    font-family: 'Lalezar';
    font-size: 15px;
    padding-left: 5px;
}

.form-login button[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Jomhuria';
    font-size: 35px;
    background-color: #ff4545;
    color: #f3f3f3;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.form-login button[type="submit"]:hover {
    background-color: #7A2020;
    cursor: pointer;
}

h3 {
    font-family: 'Lalezar';
    font-size: 15px;
    color: #757575;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}