<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Agendamentos</title>
  <link rel="stylesheet" href="/loginStyle.css" />
</head>
<body>

  <h1> Reserva+ </h1>
  <h2>Faça seu login</h2>
<form method="POST" action="/login">
  <input type="text" name="email" placeholder="Email" required />
  <input type="password" name="senha" placeholder="Senha" required />
  <button type="submit">Login</button>
</form>

 <h3> Ainda não possui login? </h3>
 <form method="GET" action="/cadastrar">
  <button type="submit">Cadastre-se</button>
 </form>

</body>
</html>
