<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Agendamentos</title>
  <link rel="stylesheet" href="/agendamentoStyle.css" />
</head>
<body>

     <div class="retangulo"></div>
    <img src="/assets/R+.svg" alt="Logo" class="logo">
    <h1>Suas <span class="reservas"> Reservas </span></h1>

  <div class="agendamentos-container">
    <% if (agendamentos.length > 0) { %>
      <% agendamentos.forEach(a => { %>
        <div class="agendamento-row">
          <div class="quadrado">
            <span class="nome_sala"><%= a.nome_sala %></span>
          </div>
          <div class="info-container">
            <div class="nome_usuario"><%= a.nome_usuario %></div>
            <div class="tempo"><%= a.tempo %></div>
          </div>
          <div class="acoes">
            <form method="POST" action="/seus_agendamentos/<%= a.id %>?_method=DELETE" style="display:inline;">
              <button type="submit">x</button>
            </form>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <div class="agendamento-vazio">
        <p>Você ainda não possui agendamentos.</p>
      </div>
    <% } %>
  </div>

  <form method="GET" action="/selecionar_sala" class="botao">
    
    <button type="submit"> <img src="/assets/mais.svg" class="mais" width="60%" height="60%"/> </button>
  </form>

</body>
</html>
