<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cadastrar</title>
  <link rel="stylesheet" href="/cadastroStyle.css" />
</head>
<body>

 <div class="retangulo"> 
  <img src="/assets/RESERVA+.svg" alt="Logo" class="logo"  />

  <form method="POST" action="/cadastrar" class="form-cadastrar">
    <input type="text" name="nome" placeholder="Nome completo" required>
    <input type="text" name="email" placeholder="Email" required />
    <input type="password" name="senha" placeholder="Senha" required />
    <button type="submit">Cadastrar</button>
  </form>
</div>

  <hr>
</body>
</html>