<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cadastrar</title>
</head>
<body>
  <h1>Cadastro de Usuario</h1>

  <form action="/cadastrar" method="POST">
    <input name="nome" placeholder="Nome" required>
    <input name="email" placeholder="Email" required>
    <input name="senha" placeholder="Senha" required>
    <button type="submit">Cadastrar</button>
  </form>

  <hr>
</body>
</html>